---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Introduction from "../components/Introduction.astro";
import Timeline from "../components/Timeline.astro";
import Gallery from "../components/Gallery.astro";
import Education from "../components/Education.astro";
import Footer from "../components/Footer.astro";
import MapIndonesia from "../components/Map-indonesia.astro";
import Hero2 from "../components/Hero2.astro";
import TraditionalMusic from "../components/TraditionalMusic.astro";
---

<Layout>
	<Navbar />
	<main>
		<!-- <Hero /> -->
		<Hero2 />
		<Introduction />

		<Timeline />
		<MapIndonesia />
		
		<Gallery />
		<TraditionalMusic />
		<Education />
	</main>
	<Footer />
</Layout>
